html, body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    width: 100%;
}

p{
    color: #0d113d;
    font:300 15px/26px 'Montserrat', sans-serif;
    margin: 0;
}

.bordered {
    border-left: 5px #753d9d solid;
    border-radius: 4px;
}

h1, h2, h3, h4{
    color: #0d113d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0;
    line-height: 1;
}

h1{
    color: #fff;
    font-size:70px;
    font-weight: 800;
}

h2{
    font-size:33px;
}

h3{
    font-size:26px;
}

h4{
    font-size:21px;
}

ul{
    font-size: 0;
    margin:0;
}

ul li{
    display: inline-block;
    padding-right: 19px;
}

a{
    text-decoration: none;
    font:400 15px/1 'Montserrat', sans-serif;
    color: #fff;
    transition: color ease-in-out 0.2s;
}

a:hover {
    color: #753d9d;
}

h3{
    font:600 26px/1 'Montserrat', sans-serif;
}

.border{
    position: relative;
    padding-left: 19px;
}

.border:before{
    background-color: #753d9d;
    border-radius: 5px;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
}

.button{
    font:400 18px/1 'Montserrat', sans-serif;
    border-radius: 5px;
    border: 2px solid transparent;
    height: 67px;
    text-align: center;
    text-transform: uppercase;
    max-width: 262px;
    padding: 22px 67px;
}

.button-holder {
    text-align: center;
}

.white-btn{
    border-color: #ffffff;
}

.darck-btn{
    border-color: #0d113d;
    color:  #0d113d;
}
.white-btn:hover,
.button:hover {
    background-color: #753d9d;
    border-color: #753d9d;
    color: #fff;
}

.magenta {
    color: #753d9d;
}
.top-section {
    background: url(../img/background_1.jpg);
    background-size: 100%;
    height: auto;
    padding: 0 400px;
}

.header {
    padding-top: 42px;
}
.list-menu {
    padding-top: 18px;
}

.page-title {
    padding-top: 240px;
}
.page-title p{
    color:#ffffff;
    font:300 18px/1 'Montserrat', sans-serif;
    padding: 41px 45px 95px;
    text-align: center;
}

.page-title .button-holder {
    padding: 0 0 230px;
}
.page-title .button-holder a {
    margin-right: 30px;
}


.intro {
    border-bottom: #e0e0e0 solid 3px;
    padding: 70px 0;
}
.intro-article {
    padding-top: 10px;
}

.intro-title {
    padding: 8px 0 8px 20px;
}
.intro-title-first-line {
    font:600 36px/1 'Montserrat', sans-serif;
}

.intro-title-second-line {
    font:300 36px/1 'Montserrat', sans-serif;
    padding-top: 18px;
}
.intro-article p {
    padding: 41px 0 50px;
}
.intro-article .button-holder{
    text-align: left;
    padding-bottom: 8px;
}

.work-holder {
    padding: 95px 0 70px;
}

.work-holder-section {
    padding: 0 0 53px 85px;
    position: relative
}
.work-holder-section img {
    position: absolute;
    left: 0;
    top: -25px;
}

.mobile-first-holder {
    background: url(../img/background_2.jpg);
    background-size: 100%;
    height: auto;
    padding: 110px 0 125px;
}
.mobile-first-holder span {
    color: #fff;
    display: block;
    font:600 50px/1 'Montserrat', sans-serif;
    padding-bottom: 100px;
    text-align: center;
}

.service-holder {
    border-bottom: #e0e0e0 solid 3px;
    padding: 73px 0 70px;
}
.service-holder-title {
    /*margin-bottom: 30px;*/
    padding: 10px 0 10px 20px;
}
.service-holder-part {
    /*background: #0d113d;*/
    /*border-radius: 10px;*/
    /*padding: 0;*/
    /*margin: 15px;*/
    /*border: 1px #000 solid;*/
    padding-top: 30px;
    position: relative;
}

.service-holder-part p{
    color: #fff;
    font:600 17px/1 'Montserrat', sans-serif;
    position: absolute;
    top: 330px;
    left: 40px;
}

.support-holder {
    padding-top: 70px;
}

.support-holder-img{
    text-align: center;
}
.support-holder-description p{
    padding: 30px 0 45px;
}

.support-holder-description ul {
    list-style-type: decimal;
}

.support-holder-description li {
    color: #a5a5a5;
    font:400 15px/1 'Montserrat', sans-serif;
    padding-bottom: 25px;
}


.contact-holder {
    background-color: #753d9d;
    padding: 75px 0 70px;
}

.contact-holder span{
    color: #fff;
    font:600 25px/1 'Montserrat', sans-serif;
}

.contact-holder-row{
    position: relative;
}
.contact-holder a{
    position: absolute;
    top: -20px;
    right: 15px;
}

.portfolio-holder{
    padding: 70px 0 75px;
}

.portfolio-holder-title{
    padding: 10px 0 10px 20px;
}

.portfolio-holder-img {
    padding-top: 45px;
}

.blog-holder {
    padding-bottom: 100px;
}

.blog-holder-title{
    padding: 10px 0 10px 20px;
}

/* *********************************************
 lecture_35_css */

.portfolio {}
.portfolio-slider {}
.slide-wrapper {}
.img-wrapper {}
.portfolio h3 {
    padding: 30px 0;
}

.slick-slide img {width: 100%;}
.portfolio-slider .slick-arrow {
    color: transparent;
    font-size: 0;
    position: absolute;
    top: 0;
    height: 20px;
    width: 30px
}

.portfolio-slider .slick-prev {
    background: url("../img/portfolio-prevbtn.png") 50% no-repeat;
    right: 55px;
}

.portfolio-slider .slick-next {
    background: url("../img/portfolio-nextbtn.png") 50% no-repeat;
    right: 15px;
}

.portfolio-slider.slick-slider {position: static;}
.portfolio-slider.slick-list {margin: 0 -15px;}

.top-screen {
    position: absolute;
    background: transparent;
}


@media screen and (max-width:1170px) {
    .header-slider {display: none;}
    .top-screen {
        background: url("../img/head-bg.img") 50%/cover no-repeat;
    }
}

/* *********************************************
 lecture_35_css */