html, body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    color: #0d113d;
    font: 300 15px/26px 'Montserrat', sans-serif;
    margin: 0;
}

.border {
    position: relative;
    padding-left: 19px;
}

.border:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    border-radius: 5px;
    color: #000;
}

.top-section {
    background: url("../img/01_books.jpg") 50%/cover no-repeat;
}

.logo-holder {
    position: relative;
    color: #fff;
    font-size: 55px;
    font-weight: 600;
}

.logo-holder img {
    display: inline;
}

h1 {
    display: inline;
    color: #fff;
    font-size: 70px;
    font-weight: 800;
}

.h1-title {
    color: #a066c9;
    font-size: 70px;
    font-weight: 800;
}

.logo-menu a {
    color: #f5f5f5;
    font-size: 15px;
    font-weight: 400;
}

.logo-menu a:hover, a:active {
    color: #753d9d;
    font-size: 15px;
    font-weight: 400;
}

.logo-menu ul {
    float: right;
    padding: 29px;
}


.logo-menu li {
    display: inline;
    padding: 0 10px 0 0;
}

.logo-menu li:last-child {
    padding: 37px 0 37px 0;
}

.text-center p {
    color: #fff;
}

.btns-holder a{
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 400;
}

/* *********************************************
 lecture_35_css */

.portfolio {
}

.portfolio-slider {
}

.slide-wrapper {
}

.img-wrapper {
}

.portfolio h3 {
    padding: 30px 0;
}

.slick-slide img {
    width: 100%;
}

.portfolio-slider .slick-arrow {
    color: transparent;
    font-size: 0;
    position: absolute;
    top: 0;
    height: 20px;
    width: 30px
}

.portfolio-slider .slick-prev {
    background: url("../img/portfolio-prevbtn.png") 50% no-repeat;
    right: 55px;
}

.portfolio-slider .slick-next {
    background: url("../img/portfolio-nextbtn.png") 50% no-repeat;
    right: 15px;
}

.portfolio-slider.slick-slider {
    position: static;
}

.portfolio-slider.slick-list {
    margin: 0 -15px;
}

.top-screen {
    position: absolute;
    background: transparent;
}

@media screen and (max-width: 1170px) {
    .header-slider {
        display: none;
    }

    .top-screen {
        background: url("../img/head-bg.img") 50%/cover no-repeat;
    }
}

/* *********************************************
 lecture_35_css */